<header id="alg-doc-header"></header>

<div class="clearfix">
  <nav id="alg-doc-navigation" class="col-md-4"></nav>
  <div id="alg-doc-content" class="col-md-8"></div>
</div>

<footer id="alg-doc-footer"></footer>