<div class="clearfix">
  <aside>
    <nav id="alg-doc-navigation" class="col-md-4"></nav>
  </aside>
</div>

<div class="col-md-8">
  <header id="alg-doc-header"></header>
  <div id="alg-doc-content"></div>
  <footer id="alg-doc-footer"></footer>
</div>