<!DOCTYPE html>

<html lang="pt-BR">

<head>
  <title>Sketches</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="alg-doc-wrapper">
    <%= yield %>
  </div>
</body>

</html>